@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
